[Unit]
Description=thestatus Service
After=network.target

[Service]
WorkingDirectory=/opt/thestatus/
ExecStart=/usr/bin/npm start
Restart=on-failure
User=pi
Environment=PORT=8181

[Install]
WantedBy=multi-user.target