[Unit]
Description=thestatus Service
After=network.target

[Service]
WorkingDirectory=/opt/thestatus/
ExecStart=sudo /usr/bin/npm start
Restart=on-failure
User=pi
Environment=PORT=80

[Install]
WantedBy=multi-user.target